<!--
        <div *ngIf="loginService.isUserLoggedIn()" class="ml-auto">
            <app-cart-status></app-cart-status>
        </div>
-->
<header class="site-navbar" role="banner">
    <div class="site-navbar-top">
      <div class="container">
        <div class="row align-items-center">

          <div class="col-6 col-md-4 order-2 order-md-1 site-search-icon text-left">
            <form *ngIf="loginService.isUserLoggedIn()" class="site-block-top-search">
              <span class="icon icon-search2"></span>
              <app-search></app-search>
            </form>
          </div>

          <div class="col-12 mb-3 mb-md-0 col-md-4 order-1 order-md-2 text-center">
            <div class="site-logo">
              <a routerLink="/home" class="js-logo-clone">BookStore</a>
            </div>
          </div>

          <div class="col-6 col-md-4 order-3 order-md-3">
            <div class="site-top-icons">
              <ul>
                <!-- <li><a href="#"><span class="icon icon-person"></span></a></li>
                <li><a href="#"><span class="icon icon-heart-o"></span></a></li> -->
                <li *ngIf="loginService.isUserLoggedIn()" class="mr-5">
                  <a class="site-cart">
                    <app-cart-status></app-cart-status>
                  </a>
                </li> 
                <li *ngIf="loginService.isUserLoggedIn()">
                    <a routerLink="/logout">Logout</a>
                </li>
                <li *ngIf="!loginService.isUserLoggedIn()">
                    <a routerLink="/login">Login</a>
                </li>
                <li *ngIf="!loginService.isUserLoggedIn()">
                    <a routerLink="/register">Register</a>
                </li>
                <li class="d-inline-block d-md-none ml-md-0"><a href="#" class="site-menu-toggle js-menu-toggle"><span class="icon-menu"></span></a></li>
              </ul>
            </div> 
          </div>
        </div>
      </div>
    </div> 
    <nav class="site-navigation text-right text-md-center" role="navigation">
      <div class="container">
        <ul class="site-menu js-clone-nav d-none d-md-block">
          <li><a routerLink="/home">Home</a></li>
          <li><a routerLink="/books">Shop</a></li>
        </ul>
      </div>
    </nav>
  </header>